<h1>Listing certificates</h1>

<table>
  <tr>
    <th>Version</th><th>Profile</th><th>city</th>
  </tr>

<% @certificates.each do |certificate| %>
  <tr>
    <td><%=h certificate.Version %></td>
    <td><%=h certificate.Profile %></td>

    <td><%=h certificate.address.try(:city) %></td>
    <td><%= link_to 'Show', certificate %></td>
    <td><%= link_to 'Edit', edit_certificate_path(certificate) %></td>
    <td><%= link_to 'Destroy', certificate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New certificate', new_certificate_path %>

